<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
    <style>
        .other {
            background-color: gray;
            color: gray;
        }

        .owner {
            background-color: cadetblue;
            color: black;
        }
    </style>
</head>
<body>
    <h1>Calendar</h1>
    <h4>Room @Model.RoomId</h4>
    <div id='calendar'></div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const calendarEl = document.getElementById('calendar');
            const startDate = '@Html.Raw(Model.Start)';
            const endDate = '@Html.Raw(Model.End)';
            const roomId = '@Html.Raw(Model.RoomId)';
            const userId = '@Html.Raw(Model.UserId)';
            const minSlotTime = "09:00:00";
            const maxSlotTime = "19:00:00";

            function formatDate(date) {
                const d = new Date(date);
                return d.getFullYear() + "-" +
                    ("0" + (d.getMonth() + 1)).slice(-2) + "-" +
                    ("0" + d.getDate()).slice(-2) + " " +
                    d.toLocaleTimeString();
            }

            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                slotMinTime: minSlotTime,
                slotMaxTime: maxSlotTime,
                nowIndicator: true,
                weekends: true,
                navLinks: true,
                selectable: true,
                selectMirror: true,
                editable: false,
                eventOverlap: false,
                dayMaxEvents: true,
                select: (arg) => {
                    window.location = `/event/add/${roomId}?start=${formatDate(arg.start)}&end=${formatDate(arg.end)}`;
                },
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'timeGridWeek,timeGridDay,dayGridMonth'
                }
            });

            calendar.render();
        });
    </script>
</body>
</html>
