@using PsikoWeb.WebApp.Areas.Admin.Models

@{
    ViewData["Title"] = "UserList";
}
@model List<UserViewModel>
<h1>Kullanıcılar</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Kullanıcı Adı</th>
            <th>E-mail</th>
            <th>Telefon Numarası</th>
            <th>Roller</th>
            <th>Rol İşlemleri</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.UserName</td>
                <td>@item.UserEmail</td>
                <td>@item.UserPhone</td>
                <td>
                    <user-role-name user-id="@item.UserId"></user-role-name>
                </td>
                <td>
                    <a asp-controller="Roles" asp-action="AssignRoleUser" asp-route-id="@item.UserId">Rol Ata</a>
                </td>
            </tr>
        }
    </tbody>

</table>